@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

h1,
p,
label,
input,
span,
textarea,
button {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #060f2f;
  color: #fff;
}

p {
  padding-left: 1%;
  margin: 0;
  padding-top: 1%;
}

input {
  tab-size: 4;
  border: 0 solid #888f9a;
  border: rgb(86, 105, 146) 1px solid;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(180 195 219 / var(--tw-text-opacity));
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  min-width: 25rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: rgb(86 105 146 / var(--tw-border-opacity));
  overflow: hidden;
  margin-left: 1%;
  margin-right: 1%;
}

button {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: rgb(86, 105, 146);
  border-radius: 4px;
  border-width: 0px;
  box-shadow: rgba(18, 21, 26, 0.2) 0px 0px 0px 1px,
    rgba(18, 21, 26, 0.08) 0px 1px 4px 0px,
    rgba(18, 21, 26, 0.05) 0px 1px 0px 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 28px;
  min-width: 76px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  line-height: 1.54;
  font-weight: 600;
  outline: 0px;
  text-decoration: none;
  white-space: nowrap;
}

/* #root > div {
  height: 100vh;
} */


.embedded-explorer {
  width: 97vw;
  /* overflow-y: hidden; */
  height: 90vh;
  margin: auto;
  font-size: 1.25rem;
}

.top-form {
  height: 6vh;
  /* height: 10vh; */
}

form {
  /* border-bottom: #383d5b 1px solid; */
  padding-left: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

h1, .h1-style {
  padding-left: 1%;
  margin-bottom: 0%;
  font-size: 1.2rem;
}